# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
* Languages used in data science
* Libraries used in data scienece
* Data science tools
* Example of an arithmatic operations
* Conversion of minutes to hours

Some of the languages that data scientist uses are,
1. Python
2. R
3. Java
4. Scala

Some of the libraries commonly used by data scientists include,
1. Numpy
2. pandas
3. matplotlib
4. scikit learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|VScode|
|IBM Watson Studio |

### Below are a few examples of evaluating arithmatic expression in Python

In [8]:
# This is a simple arithmatic expression to multiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Rebeka Sarkar